        body {
            padding: 0;
            margin: 0;
        }

        div.page {
            height: 100vh;
            display: grid;
            grid-template-columns: 200px 1fr;
            grid-template-rows: 100px 10fr 20px;
            grid-template-areas: 'header header' 
                                 'menu mainContent'
                                 'footer footer';
        }

        div.header {
            background-color: aqua;
            grid-area: header;
            text-align: center;
            background-image: url("bilder/spaceSmall.png");
        }

        div.header.h1, div.menu, div.footer, #menu {
            text-align: center;
        }

        h1 {
            text-shadow: -2px 0px #FFFFFF;
        }

        .menu {
            padding-top: 10px;
        }
        
        #menu {
            list-style-type: none;
            margin: 0;
            padding: 20px;
        }

        div.menu {
            background-color: white;
            grid-area: menu;
        }

        div.mainContent {
            background-color: blanchedalmond;
            grid-area: mainContent;
        }

        p {
            padding: 20px;
        }

        div.footer {
            background-color: lightgrey;
            grid-area: footer;
        }

        @media only screen and (max-width: 600px) {
            div.page {
                grid-template-columns: 1fr;
                grid-template-rows: 100px 2fr 4fr 20px;
                grid-template-areas: 'header' 
                                     'menu'
                                     'mainContent'
                                     'footer';
            }

        }